<div class="container text-center">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>


<form id="commentForm">
        <div class="form-group">
            <label for="comment">Comment:</label>
            <input type="text" class="form-control" id="comment" name="comment" data-id="{{id}}">
        </div>

         <div class="button-container text-center">
        <button type="submit" class="btn btn-primary">Submit Comment</button>
    </div>
</form>

{{#if comments.length}}
  <div class="col-md-6 post-list" style="text-align: left;">
    <h3>Comments:</h3>

    {{#each comments as |comment|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4>{{comment.body}}</h4>
      </div>
    </div>
    {{/each}}
  {{/if}}
</div>

<script src="/js/blog.js"></script>